<div class="login">
<h1>Login</h1>
<%= form_for @user, url: login_path do |f| %>
  <%= f.label :username, "Username", class: 'form-label' %><br>
  <%= f.text_field :username, class: 'form-text-box' %><br><br>
  <%= f.label :password, "Password", class: 'form-label' %><br>
  <%= f.password_field :password, class: 'form-text-box' %><br><br>
  <%= f.submit "Log In", class: 'form-submit-box' %>
<% end %>
  <p>or</p>
    <div class="google">
      <%= link_to do %>
      <%= image_tag("google-icon.png") %>
      Sign in with Google
      <% end %>
    </div>
  <br>
  <br><%= link_to "Don't have an account yet?", new_user_path %>
</div>
