<div class="create-world">
<h1>Create a New World</h1>
<%= form_for @world do |f| %>
  <%= f.label :title, class: 'form-label' %>
  <%= f.text_field :title, class: 'form-text-box'  %>

  <%= f.label :genre, class: 'form-label' %>
  <%= f.text_field :genre, class: 'form-text-box'  %>

  <%= f.label :inspirations, class: 'form-label'  %>
  <%= f.text_area :inspirations, class: 'form-text-area'  %>

  <%= f.submit "Create World", class: 'form-submit-box' %>
<% end %>
</div>
