<div class="create-world">
<h1>Create a New World</h1>
<%= form_for @world do |f| %>
  <%= f.label :title, class: 'form-label' %>
  <%= f.text_field :title, class: 'form-text-box'  %>
  <%= errors_for @world, :title %>

  <%= f.label :genre, class: 'form-label' %>
  <%= f.text_field :genre, class: 'form-text-box'  %>
  <%= errors_for @world, :genre %>

  <%= f.label :description, class: 'form-label' %>
  <%= f.text_area :description, class: 'form-text-area'  %>
  <%= errors_for @world, :description %>

  <%= f.label :inspiration, class: 'form-label'  %>
  <%= f.text_area :inspiration, class: 'form-text-area'  %>
  <%= errors_for @world, :inspiration %>

  <%= f.submit "Create World", class: 'form-submit-box' %>
<% end %>
</div>
