<div class="edit-user">
  <% if current_user %>
  <h2>Edit Profile</h2>
  <%= form_for @user do |f| %>
    <%= f.label :username, "Username", class: 'form-label' %>
    <%= f.text_field :username, class: 'form-text-box' %>

    <%= f.label :password, "Password", class: 'form-label' %>
    <%= f.password_field :password, class: 'form-text-box' %>

    <%= f.label :bio, "Bio", class: 'form-label' %>
    <%= f.text_area :bio, class: 'form-text-area' %>

    <%= f.label :favorite_genre, "Favorite Genre", class: 'form-label' %>
    <%= f.text_field :favorite_genre, class: 'form-text-box' %>

    <%= f.submit "Update Profile", :class => 'form-submit-box' %>
  <% end %>
  <% end %>
</div>
