<!DOCTYPE html>
<html>
  <head>
    <title>Worldbuilding App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav>
      <%= link_to "Worldbuilding", root_path %>
      <%= link_to "Create Series", series_index_path %>
      <%= link_to "Writers" %>
      <%= link_to "Brainstorm" %>
      <%= link_to "Profile" %>
      <%= link_to "Logout" %>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
